docs/n8n-xiao-o-workflow.import.json
{
  "name": "AI Omic Xiao O Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-omic-xiao-o",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9d4a6326-8cd3-4ad3-9e1e-2f3bdcb4f012",
      "name": "Website Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        0
      ],
      "webhookId": "ai-omic-xiao-o"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "690c6fc4-e7ab-4c12-9b24-63f95c5311f0",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Role\nYou are 小O, the official assistant for AI Omic.\n\nLanguage Policy (CRITICAL)\nAlways respond in the language used by the user.\n\nIf user speaks Chinese -> Reply in Chinese.\n\nIf user speaks English -> Reply in English.\n\nIf user mixes both -> Reply in a natural mixed style.\n\nBusiness Scope\nServices: Workflow Audit (RM299-499), Basic Automation (RM500-1200), AI Flow (RM1500-3500), AI Chatbot (RM2000-4500).\n\nStandard Support: 14 days WhatsApp support included.\n\nRedirection & Uncertainty Rules\nIf the question is unrelated to AI Omic or automation, explain your scope and provide this link: https://my-pricing-list.zeabur.app/intake-form\n\nIMPORTANT: If you are unsure of the answer, or if the user asks for specific project details you cannot confirm, you must include this statement: \n\"The following is an AI assistant's answer; any final answer is subject to the AI Omic project team.\" \nThen, kindly suggest they fill out the intake form: https://my-pricing-list.zeabur.app/intake-form\n\nSTRICT FORMATTING RULE\nDo not use Markdown, double asterisks, or any bold formatting in your response. Return raw plain text only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        0
      ],
      "id": "108a442e-fb54-46f1-a033-505b4174b53b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "0e92819b-21db-4347-b997-35a9fc8fd8c0",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "SET_IN_N8N",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": null
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -512,
        208
      ],
      "id": "3b2665ac-dcd6-4829-bd73-e7cfe094be44",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Website Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
